.projects-container {
    height:100vh;
    background:black;
    display:flex;
    flex-direction:column;
    overflow-y:scroll;
    background-image: url('../../images/linkedin-photo-render.png');
    background-repeat:no-repeat;
    background-position:top right;
}

.projects-intro {
    min-height:50vh;
    max-height:50vh;
    margin-top:5%;
    margin-left:10%;
}

.project {
    display:flex;
    flex-direction:row;
    align-items:center;
    background-image: linear-gradient(
        0deg
        ,#000,#172229),linear-gradient(
        180deg
        ,#000,#000);
}

.project-image {
    max-width:40%;
    margin:5%;
}


@media screen and (max-width:1100px) {
    .projects-intro {   
        display:flex;
        flex-direction:column;
        align-items:flex-start;
        min-height:40vh;
    }

    .intro-text {
        width:40%;
    }

}

@media screen and (max-width:450px) {
    .projects-intro {   
        display:flex;
        flex-direction:column;
        align-items:flex-end;
        text-align:right;
        min-height:50vh;
    }



    .intro-text {   
        display:flex;
        flex-direction:column;
        align-items:flex-end;
        margin:0;
        width:50%;
        margin-right:10%;
    }

}

