.home {
    height:100%;
    background:black;
    overflow:scroll;
    display:flex;
    background-image: url('../../images/linkedin-photo-render.png');
    background-repeat:no-repeat;
    background-position:bottom right;
    position:relative;
    z-index:9;
    top:-20px;
}

h1 {
    z-index:2;
    position:relative;
}

h3 {
    z-index: 2;
    position:relative;
}

.inner-text {
    border-left: solid #334756 5px;
    padding-left:2%;
}

p {
    z-index: 2;
    position:relative;
    padding: 1% 0 1% 0;
}



.home-text {
    width:60%;
    margin:2%;
    z-index:6
}

p > a {
    color:#FF4C29;
    text-decoration:none;
}

.extra {
    min-height:10%;
    background:transparent;
}


@media screen and (max-width:500px) {
    .home {
        display:flex;
        justify-content:flex-start;
        flex-direction:row;
        height:100vh;
        text-align:left;
        background-position:bottom left;
        margin-top:5%;
    }

    .img.home-image {
        bottom:0;
    }
    
    .home-text {

        max-height:100vh;
        padding-bottom:20px;
        width:50%;
    }

}
