.home {
    height:100%;
    background:black;
    overflow:scroll;
    display:flex;
    flex-direction:row; 
    justify-content:space-between;
}

h1 {
    z-index:2;
    position:relative;
}

h3 {
    z-index: 2;
    position:relative;
}

.inner-text {
    border-left: solid #334756 5px;
    padding-left:2%;
}

p {
    z-index: 2;
    position:relative;
    padding: 1% 0 1% 0;
}

img.home-image {
    z-index:1;
    display:flex;
    justify-content:flex-end;

}

.home-text {
    width:60%;
    margin:2%;
}

p > a {
    color:#FF4C29;
}

@media screen and (max-width:500px) {
    .home {
        flex-direction:unset;
        height:100vh;
    }

    .img.home-image {
        position:relative;
        float:right;
        z-index:1;
        bottom:0;
    }
    
    .home-text {
        position:absolute;
        z-index:2;
        max-height:100vh;
        padding-bottom:20px;
        width:72%;
        overflow:scroll;
    }

}
