.contact {
    height:100%;
    background:#2C394B;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
}

.contact-form {
    display:flex;
    flex-direction:column;
    width: 50%;
}