.contact {
    height:100%;
    background:black;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    color:white;
    overflow:scroll;
    background-image: url('../../images/linkedin-photo-render.png');
    background-repeat:no-repeat;
    background-position:bottom right;
    background-size:40%;
}

.contact-form {
    display:flex;
    flex-direction:column;
    width: 50%;
    padding-bottom:10%;
}


.contact-div {
    margin: 20% 1% 0% 6%;
    margin-right:15%;
}

.contact-text {
    margin-bottom:3%;
    width: 90%;
}

h4 > a {
    color: #FF4C29;
    text-decoration:none;
}

h4 {
    font-size:larger;
    margin-bottom:3%;
}

.contact-title {
    margin-bottom:5%;
}


/* Fields */
div.wpforms-container-full .wpforms-form input[type=date], div.wpforms-container-full .wpforms-form input[type=datetime], div.wpforms-container-full .wpforms-form input[type=datetime-local], div.wpforms-container-full .wpforms-form input[type=email], div.wpforms-container-full .wpforms-form input[type=month], div.wpforms-container-full .wpforms-form input[type=number], div.wpforms-container-full .wpforms-form input[type=password], div.wpforms-container-full .wpforms-form input[type=range], div.wpforms-container-full .wpforms-form input[type=search], div.wpforms-container-full .wpforms-form input[type=tel], div.wpforms-container-full .wpforms-form input[type=text], div.wpforms-container-full .wpforms-form input[type=time], div.wpforms-container-full .wpforms-form input[type=url], div.wpforms-container-full .wpforms-form input[type=week], div.wpforms-container-full .wpforms-form select, div.wpforms-container-full .wpforms-form textarea {
    background-color: transparent; /* Remove background fill */
    border-radius: 0; /* Remove corner curve */
    border: 2px solid #fff; /* 2px white border */
    color: #fff; /* White text */
    height: 45px; /* Increase input height */
    padding:5px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}
/* Button */
div.wpforms-container-full .wpforms-form input[type=submit] {
   text-transform: uppercase;
   padding: 10px 60px;
   color: white;
   background: #444;
   font-weight: normal;
   margin:2%;
}

label {
    padding:2%;
}

form > textarea {
    min-height:200px;
    margin-bottom:3%;
}


@media screen and (max-width:960px) {
    .contact {
        display:flex;
        justify-content:center;
        align-items:flex-start;
    }

    .contact-div {
        margin-top:10%;
    }
}


@media screen and (max-width:400px) {
    .contact {
        display:flex;
        align-items:flex-start;
    }

    .contact-div {
        overflow:scroll;
        margin-top:5%;
    }
    .contact-form {
        width:50%;
    }

    .contact-title {
        font-size:40px;
    }
}

input:focus, textarea:focus {
    outline: none !important;
    border:2px solid crimson !important;
    box-shadow: 0 0 10px crimson !important;

}