div.hero-text {
    animation: fadeIn ease 2.0s;
    -webkit-animation: fadeIn ease 2.0s;
    -moz-animation: fadeIn ease 2.0s;
    -o-animation: fadeIn ease 2.0s;
    -ms-animation: fadeIn ease 2.0s;
    height: 100%;
    width: 100vw;
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(62, 52, 52, 0.6)), url("../../images/background1.jpg");
    background-size:cover;
    padding:3%;
    text-align: center;
    overflow:scroll;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }

.hero-text {
    border: none;
    display: inline-block;
    color: black;
    background-color: #ddd;
    text-align: center;
    font-size:18px;
    transition: all .2s ease-in-out;
}

h1 {
    font-size:60px;
    color:whitesmoke;
}

h3 {
    font-size:40px;
    font-weight:normal;
    color:whitesmoke;
}

h5 {
    font-size:25px;
    color:whitesmoke;
    font-weight:lighter;
}

p {
    font-size:20px;
    color:whitesmoke;
}


.index-img {
    max-height:60%;
    border-radius:2em;
    border:solid whitesmoke 1px;
    margin-bottom:3%;
}

@media screen and (max-width:1024px) {

    .index-img {
        max-width:50%;
    }

}

.home-link {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.15em solid #FFFFFF;
    margin-top:3%;
    border-radius:0.30em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}

.home-link:hover {
    color:#000000;
    background-color:#FFFFFF;
    padding: 0.35em 50px 0.35em 50px;
}



